.contacts {
  padding: 150px 0 50px;

  @include mediaPhone {
    padding: 50px 0;
  }

  .contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form {
      background-color: $white;
      width: 664px;
      padding: 72px 42px 67px;

      @include mediaSecondaryTablet {
        width: 440px;
        gap: 0 20px;
        padding: 30px 22px;
      }

      .form__title {
        @include title;
        margin-bottom: 50px;

        @include mediaSecondaryTablet {
          margin-bottom: 20px;
        }
      }

      .form__input {
        background-color: $white;
        border: none;
        border-bottom: 1px solid $black;
        width: 100%;
        display: block;
        margin-bottom: 15px;
        padding: 7px 10px;
        color: $black;
        outline: none;

        &::placeholder {
          color: $placeholder-bg;
          font-family: $font-main;
          font-size: 14px;
          font-weight: 400;

          @include mediaSecondaryTablet {
            font-size: 10px;
          }
        }
      }

      .form__btn {
        background: $btn-bg;
        color: $btn-text;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 600;
        margin-top: 36px;
        padding: 17px 34px;

        @include mediaSecondaryTablet {
          margin-top: 30px;
          padding: 10px 25px;
        }

        &:hover,
        :focus {
          background-color: $list-bg;
          color: $white;
          animation: colorChange 0.5s infinite alternate;
        }
      }
    }

    .contacts__img {
      @include mediaTablet {
        width: 335px;
      }

      @include mediaSecondaryTablet {
        width: 187px;
        object-fit: cover;
      }

      @include mediaPhone {
        display: none;
      }
    }
  }
}
