.courses {
  @include section__padding;

  .section__inner {
    @include section__inner;
    gap: 0 73px;

    @include mediaSecondaryTablet {
      grid-template-columns: 200px auto;
      gap: 0 13px;
    }

    .courses__descr {
      @include section__descr;

      .courses__title {
        @include title;
      }

      .courses__text {
        @include text;
      }
    }

    .courses__content {
      @include section__content-descr;
      gap: 0 126px;

      &::before {
        @include before-styles;
      }

      &::after {
        @include after-styles;
      }

      @include mediaTablet {
        gap: 0 77px;
      }

      @include mediaSecondaryTablet {
        gap: 0 17px;
      }

      @include mediaSecondaryPhone {
        display: block;
      }

      .courses__item {
        text-align: center;
        width: 270px;
        margin: 0 auto;

        @include mediaSecondaryTablet {
          width: 195px;
        }

        @include mediaSecondaryPhone {
          width: 255px;
          margin-bottom: 41px;
        }

        .courses__item-img {
          position: relative;
        }

        .courses__img {
          margin-bottom: 28px;

          @include mediaSecondaryTablet {
            width: 195px;
          }

          @include mediaSecondaryPhone {
            width: 255px;
          }
        }

        .img__price {
          @include courses__img__text;
          padding: 19px 10px;
          right: -10px;
          bottom: 20px;

          @include mediaSecondaryTablet {
            padding: 10px 10px;
          }
        }

        .img__title {
          @include courses__img__text;
          padding: 15px;
          left: -10px;
          top: 45%;

          @include mediaSecondaryTablet {
            padding: 10px;
          }
        }

        .img__time {
          @include courses__img__text;
          padding: 7px 10px;
          left: -10px;
          top: 60%;
        }

        .item__title {
          font-family: $font-title;
          font-size: 16px;
          margin-bottom: 15px;

          @include mediaSecondaryTablet {
            font-size: 12px;
            margin-bottom: 5px;
          }

          @include mediaSecondaryPhone {
            margin-bottom: 10px;
          }
        }

        .item__text {
          margin-bottom: 24px;

          @include mediaSecondaryTablet {
            font-size: 10px;
            margin-bottom: 10px;
          }

          @include mediaSecondaryPhone {
            margin-bottom: 25px;
          }
        }

        .btn {
          @include button-styles;
          padding: 13px 16px;
        }
      }
    }
  }
}
