.feedback {
  @include section__padding;

  .feedback__inner {
    @include section__inner;

    @include mediaTablet {
      grid-template-columns: 260px auto;
    }

    @include mediaSecondaryTablet {
      grid-template-columns: 200px auto;
      gap: 0 16px;
    }

    .feedback__descr {
      @include section__descr;

      .feedback__title {
        @include title;
      }

      .feedback__text {
        @include text;
      }
    }

    .feedback__content {
      position: relative;
      padding-bottom: 92px;

      &::before {
        @include before-styles;
      }

      &::after {
        @include after-styles;
      }

      .feedback__slider {
        width: 760px;
        overflow: hidden;

        @include mediaTablet {
          width: 690px;
        }

        @include mediaSecondaryTablet {
          width: 420px;
        }

        @include mediaSecondaryPhone {
          width: 250px;
          margin: 0 auto;
        }

        .feedback__item {
          display: grid;
          grid-template-columns: auto auto;
          gap: 0 16px;
          padding-left: 20px;
          align-items: center;

          @include mediaSecondaryPhone {
            grid-template-columns: auto;
            text-align: center;
            padding: 0;
          }

          .item-video {
            position: relative;

            @include mediaSecondaryTablet {
              width: 200px;
            }

            .item-img {
              @include mediaSecondaryTablet {
                width: 200px;
              }

              @include mediaSecondaryPhone {
                width: 250px;
                margin: 0 auto 20px;
              }
            }
          }

          .item-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            cursor: pointer;
          }
        }

        .feedback__item-content {
          .feedback__item-sociallink {
            margin-bottom: 12px;
          }

          .item-name {
            margin-bottom: 15px;
            font-family: $font-title;
            font-size: 16px;

            @include mediaSecondaryTablet {
              font-size: 12px;
              margin-bottom: 10px;
            }
          }
          .item-text {
            margin-bottom: 63px;

            @include mediaSecondaryTablet {
              font-size: 10px;
              margin-bottom: 38px;
            }
          }

          .item-content-btn {
            @include button-styles;
            padding: 20px 35px;
            position: absolute;
            bottom: 10px;
            right: 0;

            @include mediaSecondaryTablet {
              padding: 10px 20px;
              font-size: 8px;
              bottom: 0px;
            }

            @include mediaSecondaryPhone {
              left: 0;
              margin: 0 auto;
              width: 84px;
            }
          }
        }

        .swiper-pagination {
          @include pagination;
        }
      }
    }
  }
}
