.footer {
  padding-top: 40px;
  padding-bottom: 50px;

  @include mediaOptionalFooter {
    padding: 50px 0;
    font-size: 14px;
  }

  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mediaSecondaryTablet {
      flex-wrap: wrap;
    }

    @include mediaOptionalFooter {
      flex-direction: column;
    }
  }

  .menu__list {
    display: flex;
    gap: 20px;

    @include mediaOptionalFooter {
      flex-direction: column;
      margin: 50px 0;
    }
  }

  .list-link {
    @include list-link;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    width: 230px;

    @include mediaSecondaryTablet {
      width: 100%;
      text-align: center;
      padding-top: 15px;
    }

    @include mediaOptionalFooter {
      flex-direction: column;
    }
  }

  .email {
    margin: 17px 0;
  }

  .footer__social {
    display: flex;
    gap: 15px;

    @include mediaSecondaryTablet {
      justify-content: center;
    }

    .social-item:hover,
    :focus img {
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.5);
    }
  }
}
