.header {
  background-color: $main-bg;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
  }

  .header__menu {
    @include mediaOptional {
      order: 1;
      z-index: 1;
    }
  }

  .menu__btn {
    display: none;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;

    @include mediaOptional {
      display: flex;
    }
  }

  .header__menu__list {
    display: flex;
    gap: 20px;

    @include mediaOptional {
      background-color: $list-bg;
      color: $main-bg;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-110%);
      transition: transform 0.5s;
      padding: 25px 25px 45px 45px;
      opacity: 0.9;
    }
  }

  .header__menu__list.menu--open {
    @include mediaOptional {
      transform: translateY(0);
    }
  }

  .list-link {
    @include list-link;

    @include mediaOptional {
      &:hover,
      :focus,
      :active {
        color: $white;
        animation: colorChange 0.5s infinite alternate;
      }
    }
  }

  .phone {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(/src/images/phone.svg);
      width: 20px;
      height: 20px;
      left: -23px;
      top: -3px;

      @include mediaSecondaryTablet {
        width: 14px;
        height: 14px;
        left: -15px;
        top: -3px;
        background-size: cover;
      }
    }
  }
}
