.products {
  padding-bottom: 150px;

  @media (max-width: 480px) {
    padding-bottom: 50px;
  }

  .section__inner {
    @include section__inner;

    .products__descr {
      @include section__descr;

      .products__title {
        @include title;
      }

      .products__text {
        @include text;
      }
    }

    .section__content-descr {
      @include section__content-descr;
      gap: 50px 90px;

      &::before {
        @include before-styles;
      }

      &::after {
        @include after-styles;
      }

      @media (max-width: 1000px) {
        gap: 67px;
      }

      @media (max-width: 768px) {
        padding-bottom: 62px;
        gap: 30px 16px;
      }

      @media (max-width: 360px) {
        gap: 41px 7px;
      }

      .products__item {
        width: 290px;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 768px) {
          width: 200px;
        }

        @media (max-width: 360px) {
          width: 150px;
        }

        .products__img {
          margin-bottom: 8px;

          @media (max-width: 768px) {
            width: 200px;
          }

          @media (max-width: 360px) {
            width: 150px;
          }
        }

        .price {
          font-family: Yeseva One;
          font-size: 16px;
          margin-bottom: 12px;

          @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 7px;
          }

          @media (max-width: 360px) {
            font-size: 10px;
            margin-bottom: 5px;
          }
        }

        .product__title {
          font-family: Yeseva One;
          font-size: 16px;
          margin-bottom: 16px;

          @media (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 10px;
          }

          @media (max-width: 360px) {
            font-size: 10px;
            margin-bottom: 8px;
          }
        }

        .product__text {
          font-size: 12px;
          margin-bottom: 27px;

          @media (max-width: 768px) {
            font-size: 8px;
            margin-bottom: 18px;
          }

          @media (max-width: 360px) {
            font-size: 6px;
            margin-bottom: 16px;
          }
        }
      }

      .btn {
        @include button-styles;

        @media (max-width: 768px) {
          font-size: 12px;
          padding: 14px 41px;
        }

        @media (max-width: 360px) {
          font-size: 8px;
          padding: 8px 30px;
        }
      }
    }
  }
}
