.steps {
  @include section__padding;

  .section__inner {
    @include section__inner;

    @include mediaSecondaryTablet {
      gap: 0 13px;
    }

    .steps__descr {
      @include section__descr;

      .steps__title {
        @include title;
      }

      .steps__text {
        @include text;
      }
    }

    .steps__content {
      @include section__content-descr;
      gap: 70px 25px;
      counter-reset: number;

      &::before {
        @include before-styles;
      }

      &::after {
        @include after-styles;
      }

      @include mediaTablet {
        gap: 37px 35px;
      }

      @include mediaSecondaryTablet {
        gap: 25px 35px;
      }

      @include mediaPhone {
        gap: 25px 40px;
      }

      @include mediaSecondaryPhone {
        gap: 25px 20px;
      }

      .steps__item {
        display: flex;
        gap: 0 40px;
        list-style-type: none;
        position: relative;
        opacity: 0;
        transform: translateY(20px);
        transition: transform 0.6s ease, opacity 0.6s ease;

        &::before {
          counter-increment: number;
          content: counter(number);
          position: absolute;
          bottom: 0;
          left: 0;
          color: $number-color;
          font-family: $font-title;
          font-size: 30px;

          @include mediaSecondaryTablet {
            font-size: 20px;
          }

          @include mediaSecondaryPhone {
            font-size: 12px;
          }
        }

        @include mediaTablet {
          width: 300px;
          gap: 32px;
        }

        @include mediaSecondaryTablet {
          width: 200px;
          gap: 0 20px;
        }

        @include mediaSecondaryPhone {
          width: 155px;
          gap: 0 16px;
        }
      }

      .steps__item.steps__item--even {
        &::before {
          right: 0;
          left: auto;
        }
      }

      .steps__item.show {
        opacity: 1;
        transform: translateY(0);
      }

      .item-text {
        width: 174px;
        margin-bottom: 40px;

        @include mediaSecondaryTablet {
          font-size: 8px;
        }

        @include mediaSecondaryPhone {
          font-size: 6px;
        }
      }

      .item-img {
        @include mediaSecondaryTablet {
          width: 88px;
          object-fit: cover;
        }

        @include mediaSecondaryPhone {
          width: 66px;
        }
      }
    }
  }
}
