.team {
  padding-top: 61px;
  padding-bottom: 83px;
  background-color: $secondary-bg;
  margin-bottom: 150px;

  @include mediaTablet {
    padding: 50px 0;
  }

  @include mediaPhone {
    margin-bottom: 50px;
  }

  .section__inner {
    display: grid;
    grid-template-columns: 390px auto;
    gap: 0 39px;

    @include mediaTablet {
      grid-template-columns: 290px auto;
      gap: 0 10px;
    }

    @include mediaSecondaryTablet {
      grid-template-columns: 193px auto;
      gap: 0 8px;
    }

    @include mediaPhone {
      display: block;
    }

    .team__descr {
      @include section__descr;
      color: $text-color;

      .team__title {
        @include title;
      }

      .team__text {
        @include text;
      }
    }

    .team__content {
      @include section__content-descr;
      gap: 78px 75px;
      padding-bottom: 0;

      @include mediaTablet {
        gap: 30px 20px;
      }

      @include mediaPhone {
        gap: 30px 30px;
      }

      @include mediaSecondaryPhone {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .team__item {
        position: relative;

        @include mediaSecondaryPhone {
          margin-bottom: 20px;
        }
      }

      .team__img {
        @include mediaSecondaryTablet {
          width: 142px;
        }

        @include mediaSecondaryPhone {
          width: 205px;
        }
      }

      .team__item-text {
        background-color: $list-bg;
        padding: 15px 10px;
        position: absolute;
        color: $white;
        width: 165px;
        bottom: 16px;
        right: 0px;

        @include mediaSecondaryTablet {
          width: 106px;
          padding: 9px 5px;
          right: -10px;
        }

        @include mediaPhone {
          right: 10px;
        }

        @include mediaSecondaryPhone {
          width: 152px;
          padding: 14px 8px;
          right: 35px;
        }

        .team__item-name {
          text-align: center;
          font-family: $font-title;
          font-size: 12px;
          padding-bottom: 5px;

          @include mediaSecondaryTablet {
            font-size: 8px;
          }

          @include mediaSecondaryPhone {
            font-size: 12px;
          }
        }

        .team__item-descr {
          text-align: center;
          font-size: 10px;

          @include mediaSecondaryTablet {
            font-size: 6px;
          }

          @include mediaSecondaryPhone {
            font-size: 10px;
          }
        }
      }
    }
  }
}
