.top {
  padding-bottom: 150px;
  padding-top: 40px;

  @include mediaPhone {
    padding: 30px 0 50px;
  }

  .top__inner {
    position: relative;
  }

  .shimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    );
    animation: shimmer 2s infinite linear;
  }

  @keyframes shimmer {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(200%);
    }
  }

  .top__content {
    width: 370px;
    padding: 150px 0 250px;

    @include mediaTablet {
      padding: 95px 0 70px;
    }

    @include mediaSecondaryTablet {
      width: 236px;
    }

    @include mediaPhone {
      width: 180px;
    }

    @media (max-width: 360px) {
      width: 203px;
      padding: 20px 0 0;
    }

    .top__title {
      font-family: $font-title;
      font-size: 30px;

      @include mediaSecondaryTablet {
        font-size: 20px;
        margin-bottom: 20px;
      }

      @include mediaPhone {
        font-size: 15px;
        margin-bottom: 15px;
      }

      @include mediaSecondaryPhone {
        font-size: 18px;
      }
    }

    .top__text {
      margin-top: 15px;
      margin-bottom: 48px;

      @include mediaSecondaryTablet {
        font-size: 10px;
        margin-bottom: 20px;
      }

      @include mediaPhone {
        font-size: 8px;
        margin-bottom: 15px;
      }

      @include mediaPhone {
        font-size: 10px;
      }
    }

    .top__btn {
      @include button-styles;

      @include mediaPhone {
        font-size: 10px;
        padding: 14px 41px;
      }
    }

    .top__img {
      position: absolute;
      top: 0;
      left: 240px;

      @include mediaTablet {
        left: 340px;
      }

      @include mediaSecondaryTablet {
        left: 180px;
      }
      @include mediaSecondaryPhone {
        left: auto;
        right: 0;
      }
    }

    .top__img-l {
      @include mediaTablet {
        width: 655px;
      }

      @include mediaPhone {
        width: 309px;
        left: 167px;
      }

      @include mediaSecondaryPhone {
        width: 160px;
      }
    }
  }
}
