@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mediaSecondaryTablet {
  @media screen and (max-width: $secondary-tablet) {
    @content;
  }
}

@mixin mediaPhone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

@mixin mediaSecondaryPhone {
  @media screen and (max-width: $secondary-phone) {
    @content;
  }
}

@mixin mediaOptional {
  @media screen and (max-width: $optional-media) {
    @content;
  }
}

@mixin mediaOptionalFooter {
  @media screen and (max-width: $optional-footer) {
    @content;
  }
}

@mixin mediaSection {
  @media screen and (max-width: $section-media) {
    @content;
  }
}

@mixin button-styles {
  background: $btn-bg;
  padding: 15px 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: $btn-text;
  font-family: $font-main;
  font-size: 14px;
  font-weight: 600;

  &:hover,
  :focus {
    background-color: $list-bg;
    color: $white;
    animation: colorChange 0.5s infinite alternate;
  }
}

@mixin list-link {
  text-transform: uppercase;

  &:hover,
  :focus,
  :active {
    color: $list-bg;
    animation: colorChange 0.5s infinite alternate;
  }
}

@mixin before-styles {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(/src/images/section-decor.png);
  width: 22px;
  height: 30px;
}

@mixin after-styles {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: $list-bg;
  width: 1000%;
  height: 1px;
}

@mixin section__padding {
  padding-bottom: 150px;

  @include mediaPhone {
    padding-bottom: 50px;
  }
}

@mixin section__inner {
  display: grid;
  grid-template-columns: 370px auto;

  @include mediaTablet {
    grid-template-columns: 290px auto;
    gap: 0 10px;
  }

  @include mediaSecondaryTablet {
    grid-template-columns: 200px auto;
    gap: 0 30px;
  }

  @include mediaSection {
    display: block;
  }
}

@mixin section__descr {
  @include mediaSection {
    margin-bottom: 30px;
    text-align: center;
  }

  @include mediaPhone {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mediaSecondaryPhone {
    width: 235px;
    margin-bottom: 25px;
  }
}

@mixin title {
  font-family: $font-title;
  font-size: 40px;
  margin-bottom: 15px;

  @include mediaSecondaryTablet {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@mixin text {
  @include mediaTablet {
    font-size: 10px;
  }

  @include mediaSecondaryPhone {
    font-size: 8px;
  }
}

@mixin section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  padding-bottom: 92px;
}

@mixin courses__img__text {
  position: absolute;
  color: $white;
  font-family: $font-title;
  font-size: 11px;
  background: $number-color;
}

@mixin pagination {
  bottom: 50px;

  .swiper-pagination-bullet {
    background: $number-color;
    width: 53px;
    height: 4px;
    border-radius: 0;
    opacity: 1;

    @include mediaSecondaryPhone {
      width: 40px;
    }
  }

  .swiper-pagination-bullet-active {
    background: $list-bg;
  }
}
