// Colors
$white: #fff;
$black: #000;
$main-bg: #fff8f3;
$list-bg: #7b6152;
$secondary-bg: #a5978e;
$text-color: #fafafa;
$placeholder-bg: #b3b3b3;
$btn-bg: #ffbd59;
$btn-text: #272727;
$number-color: #bea495;

// Fonts
$font-main: "Comfortaa";
$font-title: "Yeseva One";

// Media
$tablet: 1000px;
$secondary-tablet: 768px;
$phone: 480px;
$secondary-phone: 360px;
$optional-media: 640px;
$optional-footer: 500px;
$section-media: 600px;
