@mixin button-styles {
  background: #ffbd59;
  padding: 15px 50px;
  justify-content: center;
  align-items: center;

  color: #272727;
  font-family: Comfortaa;
  font-size: 14px;
  font-weight: 600;
}

@mixin before-styles {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(/src/images/section-decor.png);
  width: 22px;
  height: 30px;
}

@mixin after-styles {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}

@mixin section__padding {
  padding-bottom: 150px;

  @media (max-width: 480px) {
    padding-bottom: 50px;
  }
}

@mixin section__inner {
  display: grid;
  grid-template-columns: 370px auto;

  @media (max-width: 1000px) {
    grid-template-columns: 290px auto;
    gap: 0 10px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 200px auto;
    gap: 0 30px;
  }

  @media (max-width: 600px) {
    display: block;
  }
}

@mixin section__descr {
  @media (max-width: 600px) {
    margin-bottom: 30px;
    text-align: center;
  }

  @media (max-width: 480px) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 360px) {
    width: 235px;
    margin-bottom: 25px;
  }
}

@mixin title {
  font-family: Yeseva One;
  font-size: 40px;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@mixin text {
  @media (max-width: 1000px) {
    font-size: 10px;
  }

  @media (max-width: 360px) {
    font-size: 8px;
  }
}

@mixin section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  padding-bottom: 92px;
}

@mixin courses__img__text {
  position: absolute;
  color: #fff;
  font-family: Yeseva One;
  font-size: 11px;
  background: #bea495;
}
